spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        #        dialect: org.hibernate.dialect.PostgreSQLDialect simply comment it is you want to avoid warnings while running the application
        format_sql: true
    open-in-view: false
  jmx:
    enabled: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SUPPORT_EMAIL}
    password: ${APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

  config:
    import: optional:file:.env[.properties]

security:
  jwt:
    secret-key: ${JWT_SECRET_KEY}
    expiration-time: 3600000